@import "/GeneralCss/generalCss.css";

#password {
    height: auto;
    text-align: center;
    justify-content: center;
}

#passwordInput[type=password]{
    border: 1px solid #333;
    background-color: #222;
    color: #fff;
}
#passwordSubmit {
    color: #fff;
    background-color: #333;
    text-align: center;
    outline: none;
    border: none;
}