* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
body {
    background: #222;
    color: #fff;
}
.main-menu {
  position: relative;
  display: flex;
  padding: 2vh;
  margin-left: 1vh;
  width: fit-content;
  height: 8vh;
  background-color: #333;
  font-size: 20px;
  text-align: center;
  transition: 0.5s;
  user-select: none;
  border-radius: 50%;
}

.main-menu:hover {
  background: #e91e63;
}

.main-menu > p {
  margin: auto;
}

.navbar {
  display: flex;
  margin-left: 4vw;
}

@media (max-width:991px) {
  .main-menu {
      min-width: fit-content;
  }
}
