@import "/GeneralCss/generalCss.css";

.flex-container {
    display: flex;
}
.flex-container > h4 {
    margin: auto;
}
#lower {
    color: rgb(87, 87, 226)
}
#higher {
     color: rgb(226, 87, 87); 
}

#reset {
    margin-top: 2em;
    background-color: #222;
    border: 1px solid #333;
}
#reset:hover {
    background: #e91e63;
}

#guessbar {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h2 {
    text-align: center;
}

#resetdiv {
    justify-content: center;
    display: flex;
    text-align: center;
}

#guessInput[type=number]{
    border: 1px solid #333;
    background-color: #222;
    color: #fff;
}
#guessInput::-webkit-outer-spin-button,
#guessInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#guessInput:focus {
    outline: 1px solid #444;
    box-shadow: 0 0 10px #fff;
}
#guessSubmit {
    color: #fff;
    background-color: #333;
    text-align: center;
    outline: none;
    border: none;
}