body{
    background-color: #EDE6DB;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-weight: bold;
    color: #1A3C40;
}
h2{
    color: #1A3C40;
    font-weight: bold;
}
p{
    font-weight: 500;
    color: #071c1f;
}