@import "/GeneralCss/generalCss.css";

.main-menu {
    position: relative;
    display: flex;
    margin-top: 0.5%;
    width: 15vw;
    height: 5vh;
    background-color: #333;
    font-size: 20px;
    text-align: center;
    transition: 0.5s;
}

.main-menu:hover {
    background: #e91e63;
}

.main-menu > p {
    margin: auto;
}

.grid {
    position: relative;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(800px,1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.grid .box {
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}

.grid .box:hover {
    background: #e91e63;
}

@media (max-width:991px) {
    .grid {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      grid-template-rows: minmax(auto, auto);
    }
    .main-menu {
        min-width: 135px;
        min-height: 50px;
    }
  }