@import "/GeneralCss/generalCss.css";
* {
    user-select: none;
}
h3 {
    text-align: center;
}
.resulte {
    user-select: all;
}
.grid {
    position: relative;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(800px,1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.grid .box {
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;
    transform: 1.0s;
}

.grid .box:hover {
    background: #e91e63;
}
input[type=number]{
    border: 1px solid #fff;
    background-color: #222;
    color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.content {
    width: 100%;
}
.sub-menu {
    display: none;
    width: 100%;
    overflow: hidden;
}
.resulte {
    font-size: 30px;
}

@media (max-width:991px) {
    .grid {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      grid-template-rows: minmax(auto, auto);
    }
    .main-menu {
        min-width: 135px;
        min-height: 50px;
    }
}
